@import './vars';

  
.d-flex {
  display: flex;
}
  
html,
body,
input {
  width: 100%;
  height: 100%;
  font-family: arial;
}

#player-list {
  position: fixed;
  color: #fff;
  text-shadow: 1px 1px #000a;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
  display: flex;
  flex-direction: column;
}

canvas {
  background: #444;
  cursor: none;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none;
}

#loader {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  place-content: center;
  color: #fff;
  transition: opacity 0.5s linear;
}

.btn {
  padding: 10px 16px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  &-primary, &-secondary {
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.9);
  }
  &[disabled] {
    opacity:.5;
    cursor: default;
  }

  &-primary {
    background: $color-primary;
    &:not([disabled]) {
      &:hover {
        background: $color-primary-light;
      }
      &:active {
        background: $color-primary-dark;
      }
    }
    
  }
  &-secondary {
    background: $color-secondary;
    &:not([disabled]) {
      &:hover {
        background: $color-secondary-light;
      }
      &:active {
        background: $color-secondary-dark;
      }
    }
  }
}


.form-group {
  align-items: center;
  gap: .5em;
}



form {
  .error-message {
    display: none;
    color: red;
    font-size: 80%;
    padding: 6px 10px;
  }
  label {
    text-shadow: 0 1px rgba(0, 0, 0, 0.9);
  }
  input, textarea {
    background: rgba(0, 0, 0, 0.3);
    padding: 6px 10px;
    border: 0;
    color: #fff;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0px 1000px #000 inset;
      -webkit-box-shadow: 0 0 0px 1000px #000 inset;
      -webkit-text-fill-color: var(--placeholder-color) !important;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: var(--placeholder-color);
    }

    
    &.error ~ .error-message {
      display: block;
    }
  } 

  input[type="text"] {
    height: 18px;
  }
  
}


#login-overlay {
  --placeholder-color: #fee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  place-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.3s linear;
  background: linear-gradient(270deg, #e93f3f44, #bb47e144);
  background-size: 400% 400%;
  user-select: none;

  -webkit-animation: LoginAnimation 30s ease infinite;
  -moz-animation: LoginAnimation 30s ease infinite;
  animation: LoginAnimation 30s ease infinite;

  form {
    background: #8b458acc;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    box-shadow: 0 0 3px #0002;
    border-radius: 5px;
    @media screen and (min-width:560px) {
      gap: 2em;
      padding: 2em;
    }

    .input-container {
      position:relative;
      overflow:hidden;
    }
    
  }

  #name-list {
    position: absolute;
    bottom: 0;
    padding: .35em .75em;
    font-size:.8em;
    p {
      margin:0;
      height:30px;
    }
    &.scrolling {
      -webkit-animation: Scroll 1s ease-in-out;
      -moz-animation: Scroll 1s ease-in-out;
      animation: Scroll 1s ease-in-out;
    }
  }

}

#game-chat {
  background: #2225;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em;

  #message-list {
    color: #fff;
    padding: 1em;
    margin: 0;
    max-height: 100px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.3);

    li {
      list-style-type: none;
    }

  }

  #message {
    min-height: 50px;
    max-height: 50px;
    resize: none;
    flex-grow: 1;
  }
}


@-webkit-keyframes LoginAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes LoginAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes LoginAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@-webkit-keyframes Scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(582px);
  }
}
@-moz-keyframes Scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(582px);
  }
}
@keyframes Scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(582px);
  }
}
