@import './vars';

  
.d-flex {
  display: flex;
}
  
html,
body {
  width: 100%;
  height: 100%;
  font-family: arial;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
  display: flex;
}
.btn {
  padding: 10px 16px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.btn-primary {
  background: $color-primary;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.9);
}
.btn-primary:hover {
  background: $color-primary-light;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.9);
}
.btn-secondary {
  background: $color-secondary;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.9);
}
.btn-secondary:hover {
  background: $color-secondary-light;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.9);
}

canvas {
  background: #444;
  cursor: none;
}

#login-overlay {
  --placeholder-color: #fee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  place-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.3s linear;
  background: linear-gradient(270deg, #e93f3f44, #bb47e144);
  background-size: 400% 400%;
  user-select: none;

  -webkit-animation: LoginAnimation 30s ease infinite;
  -moz-animation: LoginAnimation 30s ease infinite;
  animation: LoginAnimation 30s ease infinite;
}
/* #login-overlay label, 
#login-overlay input, 
#login-overlay button {
    font-size: 200%;
} */
@media screen and (min-width: 680px) {
  #login-overlay label,
  #login-overlay input,
  #login-overlay button {
    font-size: 150%;
  }
}
.hidden {
  opacity: 0 !important;
  pointer-events: none;
}

#loader {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  place-content: center;
  color: #fff;
  transition: opacity 0.5s linear;
}

#login-overlay form {
  background: #8b458acc;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  box-shadow: 0 0 3px #0002;
}

#game-chat {
  background: #2225;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em;
}
#game-chat #message-list {
  color: #fff;
  padding: 1em;
  margin: 0;
  max-height: 100px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.3);
}

#game-chat #message-list li {
  list-style-type: none;
}

#game-chat #message {
  min-height: 50px;
  max-height: 50px;
  resize: none;
  flex-grow: 1;
}

form label {
  text-shadow: 0 1px rgba(0, 0, 0, 0.9);
}

form input,
form textarea {
  background: rgba(0, 0, 0, 0.3);
  padding: 6px 10px;
  border: 0;
  color: #fff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-text-fill-color: var(--placeholder-color) !important;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--placeholder-color);
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--placeholder-color);
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--placeholder-color);
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: var(--placeholder-color);
}
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--placeholder-color);
}
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--placeholder-color);
}
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--placeholder-color);
}
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: var(--placeholder-color);
}

.error-message {
  display: none;
  color: red;
  font-size: 80%;
}
input.error ~ .error-message {
  display: block;
}

@-webkit-keyframes LoginAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes LoginAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes LoginAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
